.backButton {
  position: absolute;
}

.counter {
  flex: auto;
  padding: 70px;
}

.btnGroup {
  position: relative;
  top: 00px;
  width: 480px;
  margin: 0 auto;
}

.btn {
  font-size: 1.6rem;
  font-weight: bold;
  color: #67D5B5;
  background-color: #EE7785;
  margin: 10px;
  width: 120px;
  height: 60px;
  border-radius: 30px;
  opacity: .7;
  cursor: pointer;
  font-family: Menlo, Helvetica, Helvetica Neue;
}

.btn:hover {
  color: #EE7785;
  background-color: #67D5B5;
}
