.backButton {
  position: absolute;
  top: 25px;
  left: 25px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 660px;
}

.image {
  width: 450px;
  height: 450px;
  padding: 50px;
  border-radius: 100px;
}

.btn {
  font-size: 1.6rem;
  font-weight: bold;
  color: #67D5B5;
  background-color: #EE7785;
  width: 120px;
  height: 60px;
  border-radius: 30px;
  opacity: .7;
  cursor: pointer;
  font-family: Menlo, Helvetica, Helvetica Neue;
}

.btn:hover {
  color: #EE7785;
  background-color: #67D5B5;
}

.tagtext {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.tagtext  p {
  margin-left: 20px;
  margin-right: 20px;
  color: #000;
  font-size: 18px;
  font-weight: bold;
}
