.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 660px;
}

.container h1 {
  font-size: 5rem;
  color: #ffc952;
}

.title {
  flex-direction: column;
  background-color: red;
}
.container h3 {
  font-size: 1.5rem;
  align-self: center;
  align-content: center;
  color: #566270;
}

.container h3 a {
  text-decoration: underline;
  font-size: 3rem;
  color: #EE7785;
}
