.backButton {
  position: absolute;
  top: 25px;
  left: 25px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 660px;
}

.container h1 {
  font-size: 5rem;
  color: #EE7785;
}

.container h3 {
  font-size: 1.5rem;
  align-self: center;
  align-content: center;
  text-align: center;
  color: #566270;
  padding-left: 50px;
  padding-right: 50px;
}

.container a {
  font-size: 3rem;
  color: #ffc952;
}
